html, body {
    background-color: #2b0227;
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
    padding: 0;
    text-align: center;
}

a {
  color: #007bff;
}

a:hover {
  color: hotpink;
}

footer {
    color: #f7d4f3;
    right: 20px;
	position: fixed;
	bottom: 0;
}

h1 {
    color: #ffffff;
    font-family: 'Raleway',sans-serif;
    font-size: 42px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 25px;
}

h2 {
    color:hotpink;
    font-family: 'Raleway', cursive;
    font-size: 22px;
    text-align: center;

}

h3 {
    position: absolute;
    right: 20px;
    left: 20px;
    top: 150px;
}
h6 {
    color:#f7d4f3;
    font-family: 'Great Vibes';
    font-size: 12px;
    text-align: center;
    padding-top: 25px;
}

img {
    border: 0;
}
